body::before{
    content: "";
    background-image: linear-gradient(45deg,red,orange,yellow);
    display: block;
    top: 0px;
    left: 0px;
    z-index: -100;
    opacity: 0.8;
    height: 100%;
    width: 100%;
    position: absolute;
    background-repeat: repeat;
}